#container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header"
        "side content"
        "footer footer";
        grid-gap: 1px;
}

    header {
    grid-area: header;
    background: #94b5c0;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .12), 0 2px 4px 0 rgba(0, 0, 0, .14);
    z-index: 5001;
    position: sticky;
    top:0;
    }

    aside{
        grid-area: side;
        background: #94b5c0;
    }

    main {
        grid-area: content;
        width: 100%;
        margin: 0;
        background-color: #f4f9f9;
    }

    footer {
        grid-area: footer;
        background: #94b5c0;
    }